$font-size: 14px;
$c-prim: orange;
$c-white: #f8f8f8;
$c-disabled: #7e7e7e;

// Button reset
// ***************************************

button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

// Button base
// ***************************************

.btn {
  cursor: pointer;
  position: relative;
  font-size: $font-size;
  line-height: 1.3;
  transition: all .3s ease;

  &.btn-block {
    display: block;
    padding: 8px 16px;
  }

  &.btn-inline {
    display: inline-block;

    &.btn-inline__small {
      padding: 4px 16px;
    }
    &.btn-inline__medium {
      padding: 8px 16px;
    }
    &.btn-inline__large {
      padding: 12px 20px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.btn-text {
    display: inline-block;
    text-transform: uppercase;
    padding: 4px 12px;
    color: $c-prim;
    border-radius: 4px;

    &:hover {
      color: darken($c-prim, 15%);
      background-color: lighten($c-prim, 40%);
    }

    &:focus {
      color: darken($c-prim, 15%);
      background-color: lighten($c-prim, 40%);
    }

    &:active {
      color: darken($c-prim, 20%);
      background-color: lighten($c-prim, 30%);
    }

    &:disabled {
      color: $c-disabled;
    }
  }

  &:disabled {
    cursor: default;
  }
}

.btn-block,
.btn-inline {
  border: 1px solid;
  border-radius: 4px;

  &:disabled {
    color: $c-disabled;
    border-color: currentColor;
    background-color: lighten($c-disabled, 40%);
  }
}

// Button types
// ***************************************

.btn-prim {
  background-color: $c-prim;
  border-color: $c-prim;
  color: $c-white;

  &:hover {
    border-color: darken($c-prim, 10%);
    background-color: darken($c-prim, 10%);
  }

  &:focus {
    border-color: darken($c-prim, 10%);
    background-color: darken($c-prim, 10%);
  }

  &:active {
    border-color: darken($c-prim, 20%);
    background-color: darken($c-prim, 20%);
  }
}

.btn-sec {
  color: $c-prim;
  border-color: $c-prim;

  &:hover {
    background-color: $c-prim;
    border-color: $c-prim;
    color: $c-white;
  }

  &:focus {
    background-color: $c-prim;
    border-color: $c-prim;
    color: $c-white;
  }

  &:active {
    border-color: darken($c-prim, 20%);
    background-color: darken($c-prim, 20%);
  }
}

// Text link
// ***************************************