
@mixin hero-height($height-s, $height-m, $height-l) {
  height: $height-s;

  @media (min-width: $bkp-small) {
    height: $height-m;
  }

  @media (min-width: $bkp-medium) {
    height: $height-l;
  }
}

.hero {
  background-color: $c-terc;
}

.hero__landing {
  @include hero-height(calc(100vh - 144px), calc(100vh - 144px), calc(100vh - 144px));

  max-height: 850px;
}

.hero__subpage {
  @include hero-height(50vh, 50vh, 50vh);
}