
@mixin hero-height($height-s, $height-m, $height-l) {
  height: $height-s;

  @media (min-width: $bkp-small) {
    height: $height-m;
  }

  @media (min-width: $bkp-medium) {
    height: $height-l;
  }
}

.hero {
  padding-top: 174px;
  background-color: lighten($c-sec, 24%);
}

.hero__landing {
  @include hero-height(calc(100vh - 44px), calc(100vh - 72px), calc(100vh - 72px));

  max-height: 850px;
}

.hero__subpage {
  @include hero-height(50vh, 50vh, 50vh);
}