//challeneges
// **********************************************

.item__challenge {
  padding: 24px;
  border-radius: $border-radius;
  background-color: lighten($c-white, 8%);
  box-shadow: $box-shadow;
  height: 100%;
  transition: all .3s ease;

  display: flex;
  flex-direction: column;

  .item-headline {
    color: $c-prim;
  }

  p {
    flex-grow: 2;
  }

  &:hover {
    box-shadow: $box-shadow-l;
  }
}

.item-icon {
  display: inline-block;
  width: 52px;
  height: 52px;
}

.item-icon-l {
  overflow: hidden;
  width: 65px;
}

#icon-build {
  fill: $c-error;
}

#icon-skate {
  fill: $c-error;
}

#icon-teach {
  fill: $c-error;
}

#icon-culture {
  fill: $c-error;
}

//achievements
// **********************************************

.card-main {
  padding: 36px 12px;
  border-radius: $border-radius * 2;
  background-color: lighten($c-white, 8%);
  box-shadow: $box-shadow-l;

  .title,
  .item-headline {
    color: $c-prim;
  }

  .subtitle {
    color: $c-black;
    font-size: 18px;
  }

  @media (min-width: $bkp-small) {
    padding: 72px;
  }

  @media (min-width: $bkp-medium) {
    padding: 112px;
  }
}

.slide__profile {
  margin: 24px;
  padding: 44px;
  border-radius: $border-radius;
  background-color: lighten($c-white, 8%);
  box-shadow: $box-shadow;
}

.accomp-wrapper {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;

  .accomp-item {

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  @media (min-width: $bkp-small) {
    grid-template-columns: 1fr 1fr;

    .accomp-item {
      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: 0;
      }

      &:nth-child(2) {
        border-top-right-radius: $border-radius;
      }

      &:nth-child(3) {
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  @media (min-width: $bkp-medium) {
    grid-template-columns: repeat(4, 1fr);

    .accomp-item {
      &:first-child {
        border-top-left-radius: $border-radius;
        border-top-right-radius: 0;
        border-bottom-left-radius: $border-radius;
      }

      &:nth-child(2) {
        border-top-right-radius: 0;
      }

      &:nth-child(3) {
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

.accomp-item {
  text-align: center;
  padding: 24px;
  border: 2px solid lighten($c-white, 8%);
  background-color: lighten($c-prim, 40%);

  .item-subheadline,
  p {
    color: $c-font-grey;
  }

  p {
    font-family: $font-heading-sec;
  }
}

// sponsors
// **********************************************

.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 174px;
  height: 174px;
  padding: 32px;
  border-radius: 50%;
  background-color: lighten($c-white, 8%);
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Blog posts
// **********************************************

.article-blog {
  overflow: hidden;
  height: 100%;
  border-radius: $border-radius;
  background-color: $c-white;
  box-shadow: $box-shadow-l;

  display: flex;
  flex-direction: column;

  & > div {
    flex-basis: 0;
    flex-grow: 1;
  }

  .article-img {
    display: block;
    cursor: pointer;
  }

  .article-body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article__date {
    color: $c-prim;
  }

  .article__headline {
    font-size: 24px;
  }

  .btn {
    font-family: $font-heading-sec;
  }
}

// Post Main
// **********************************************

.post {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;

  background-color: $c-white;

  .post__body {
    padding: 24px;
  }

  .post__date {
    color: $c-prim;
  }

  iframe {
    display: inline-block;
    margin: 0 auto;
  }
}