// Wrapper settings
// ***************************************

.wrapper {
  max-width: $wrapper-width;
  position: relative;
  margin: 0 auto;
  //border: 1px solid red;
}

.admin-wrapper {
  padding-top: 72px;
}