// Wrapper settings
// ***************************************

.wrapper {
  max-width: $wrapper-width;
  padding-top: $header-height;
  position: relative;
  margin: 0 auto;
  //border: 1px solid red;
}