* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

html,
body {
    outline: 0;
    overflow: inherit;
    
    @media (max-width: $bkp-small) {
        overflow: hidden;
        overflow-y: scroll;
    }
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $c-background;

    &.stop_scroll {
        overflow: hidden !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none !important;
}

.img {
    position: relative;

    & > img {
        width: 100%;
        height: auto;
    }
}