body {
  font-family: $font-body;
  font-size: $font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading-main;
  color: $c-font-grey-darkest;
  line-height: calc(1em + 4px);
  margin-bottom: calc(1em - 8px);
}

.heading__italic {
  font-family: $font-heading-terc;
}

// top level heading
.heading {
  margin-top: 1em;
  font-size: 73px;

  @media (min-width: $bkp-small) {
    font-size: 73px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 73px;
  }

  @media (min-width: $bkp-large) {
    font-size: 73px;
  }
}

// second level title
.title {
  font-size: 36px;
  margin-bottom: calc(1em - 16px);

  @media (min-width: $bkp-small) {
    font-size: 44px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 44px;
  }

  @media (min-width: $bkp-large) {
    font-size: 44px;
  }
}

// second level subtitle
.subtitle {
  font-size: 20px;
  font-family: $font-heading-sec;
  color: $c-prim;

  @media (min-width: $bkp-small) {
    font-size: 25px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 25px;
  }

  @media (min-width: $bkp-large) {
    font-size: 25px;
  }
}

.punchline {
  font-size: 20px;

  @media (min-width: $bkp-small) {
    font-size: 25px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 25px;
  }

  @media (min-width: $bkp-large) {
    font-size: 25px;
  }
}


// item headings
.item-headline {
  color: $c-font-grey-dark;
  font-size: 24px;

  @media (min-width: $bkp-small) {
    font-size: 24px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 33px;
  }

  @media (min-width: $bkp-large) {
    font-size: 33px;
  }
}

.item-subheadline {
  color: $c-font-grey-dark;
  font-size: 18px;

  @media (min-width: $bkp-small) {
    font-size: 18px;
  }

  @media (min-width: $bkp-medium) {
    font-size: 25px;
  }

  @media (min-width: $bkp-large) {
    font-size: 25px;
  }
}

p {
  color: $c-font-grey;
  line-height: calc(1em + 4px);
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.highlight {
  color: $c-sec;
}

.text-centered {
  text-align: center;

  & > * {
    text-align: center;
  }
}
