// Colors
// ***************************************

$c-background: #F8F6EC;

$c-prim: #50413C;
$c-sec: #F5834D; // main cta color
$c-terc: #FFCC63;
$c-quat: #F8F6EC;
$c-quin: #779E66; // secondary accent cta color

$c-black: #221716; // body font color
$c-white: #F8F6EC; // contrast white color

$c-disabled: #7e7e7e;



// Measures
// ***************************************

$wrapper-width: 1920px; //max width of main content wrapper
$container-width: 1100px; // max width of content container

$mg-sm: 12px; // side gutter margin for phones
$mg-lg: 24px; // side gutter margin for tablets and higher

$grid-main--gap: 28px; // main body grid gutter

$header-height: 72px;

$font-size: 14px;

// Button settings
// ***************************************

$btn-border-radius: 4px;

// Breakpoints
// ***************************************

$bkp-small: 640px;
$bkp-medium: 960px;
$bkp-large: 1400px;

// Fonts
// ***************************************

$font-heading-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-heading-sec: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;