// Colors
// ***************************************

$c-background: #F8F6EC;

$c-prim: #274E55;
$c-sec: #C76345; // main cta color
$c-terc: #F5DA9C;
$c-quat: #F6F4EA;
$c-quin: #765D84; // secondary accent cta color

$c-black: #221716; // body font color
$c-white: #F6F4EA; // contrast white color

$c-disabled: #7e7e7e;

$c-error: #d81b60;
$c-success: #43a047;



// Measures
// ***************************************

$wrapper-width: 1920px; //max width of main content wrapper
$container-width: 1100px; // max width of content container

$mg-sm: 12px; // side gutter margin for phones
$mg-lg: 24px; // side gutter margin for tablets and higher

$grid-main--gap: 28px; // main body grid gutter

$header-height: 72px;

$font-size: 14px;

// Buttons and forms settings
// ***************************************

$border-radius: 4px;

// Breakpoints
// ***************************************

$bkp-small: 640px;
$bkp-medium: 960px;
$bkp-large: 1400px;

// Fonts
// ***************************************

$font-heading-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-heading-sec: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;