// Colors
// ***************************************




// Measures
// ***************************************



// Breakpoints
// ***************************************

$bkp-small: 640px;
$bkp-medium: 960px;
$bkp-large: 1200px;

// Fonts
// ***************************************

$font-base: 16px;
$font-xs: 21px;
$font-m: 28px;
$font-xm: 37px;
$font-l: 50px;
$font-xl: 67px;
$font-xxl: 89px;
